# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
.venv/
venv.bak/
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Env files
.env
.env.*
.envrc

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# Type checkers / caches
.mypy_cache/
.pyre/
.pytype/

# Logs
*.log

# Secrets
secrets.json

# Local DBs
*.sqlite3
*.db


# Node
node_modules/
